---
---

@import "{{ site.theme }}";

h2 {
   color: #FF0000;
}
head {
   background-image : url(https://proagile.se/assets/logo.png);
   background-repeat: no-repeat;
   background-position: top left;
}
